:host{
    .content-number{
        position: relative;
        &:after{
            content: 'Out of 5';
            position: absolute;
            color: #000000;
        }
    }
    .popup{
        position: fixed;
    height: 100%;
    width: 100%;    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    &-container{
        background-color: #fff;
        height: 250px;
        padding: 20px;
        width: 500px;
        margin: 200px auto;
        
    }
    }
}