<div class="container-fluid">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1 style="font-family: sans-serif;">
      INTERVIEW ASSIST
    </h1>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Please Select Level and Topic </p>
      <input type="text" class="form-control content-number" [(ngModel)]="textbox" />
      <button (click)="language('C#')" class="btn btn-link"> <img src="../assets/images/Csharp.png" alt=""
          height="100"></button>
      <button (click)="language('WEBAPI')" class="btn btn-link"><img height='100' src="../assets/images/api.png" alt="">
      </button>
      <button (click)="language('ANGULAR')" class="btn btn-link"><img height='100' src="../assets/images/angular.png"
          alt=""></button>

    </div>
    <div class="col-4">
      <div *ngIf="flagCsharp || flagAngular || flagMvc">
        <h2>{{currentQuestion.TOPIC}}</h2>
        <h5> <small>Topic</small> {{currentQuestion.QUESTION}} - LEVEL {{currentQuestion.LEVEL}}</h5>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-secondary" (click)="rating(1)">1</button>
            <button class="btn btn-secondary" (click)="rating(2)">2</button>
            <button class="btn btn-secondary" (click)="rating(3)">3</button>
            <button class="btn btn-secondary" (click)="rating(4)">4</button>
            <button class="btn btn-secondary" (click)="rating(5)">5</button>
          </div>
        </div>
        <br />
        <br />
        <h3>Suggestions</h3>
        <dl *ngFor="let item of currentQuestion.SUGGESTION">
          <dt> Q: {{item.Q}}</dt>
          <dd> A: {{item.A}}</dd>
        </dl>
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="results.length!==0">
        <table class="table">
          <tr>
            <th>Topic</th>
            <th>Question</th>
            <th>Rating</th>
            <th>Level</th>
          </tr>
          <tr *ngFor="let val of results">
            <td>{{val.Question}}</td>
            <td>{{val.Topic}}</td>
            <td><input type="text" [(ngModel)]="val.Rating"></td>
            <td>{{val.Level}}</td>
          </tr>
        </table>
        <button class="btn btn-secondary" (click)="complete()">Complete</button>
        Total Score: {{ totalPercantage | percent:'2.0-2'}}
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="show">
  <div class="popup-container">
    <h2>Report <button type="button" (click)="closeModal()" class=" close btn btn-link" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button></h2>
    <p style="margin-top: 30px; margin-bottom: 20px;">Total Percantage : {{totalPercantage| percent:'2.0-2'}}</p>
    <ul>
      <li>Status: <span *ngIf='totalPercantage >0.5'>Selected</span> <span *ngIf='totalPercantage<=0.5'>Rejected</span>
      </li>
      <li>Designation <span *ngIf='totalPercantage >=0.6 && totalPercantage <0.7'>Associate consultant</span> <span
          *ngIf='totalPercantage >0.7 && totalPercantage <0.8'>consultant</span> <span
          *ngIf='totalPercantage >=0.8'>Senior consultant</span> </li>
      <li>Comments: NA</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>